.report-container {
  padding: 40px 176px 40px 200px;

  .report-header {
    margin-bottom: 32px;
  }

  .report-body {
    width: 640px;
    margin-bottom: 32px;
    border-radius: 8px;
    border: 1px solid #b9b9ba;
    padding: 40px 32px;
    background-color: #ffffff;

    .report-item-wrapper {
      height: 40px;
      padding: 8px 16px;
      border-bottom: 1px solid #e7e7e9;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      span.ant-typography {
        font-family: "Inter Medium";
        font-size: 16px;
        line-height: 1.5;
        color: #101012;
      }
    }
  }

  .report-footer {
    width: 640px;
    display: flex;
    justify-content: space-between;

    .buttons-block {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}