.report-container {
  width: 600px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 30px 30px;
  margin-top: 30px;
  .report-header {
    margin-bottom: 40px;
  }
  .report-item-wrapper {
    border-bottom: 1px solid #cacaca;
    display: flex;
    height: 30px;
    margin-bottom: 12px;
    .title {
      display: flex;
      justify-content: flex-start;
      flex: 1 1 50%;
      justify-self: self-start;
      span.ant-typography {
        text-align: left;
        min-width: 100%;
      }
    }
    .response {
      flex: 1 1 50%;
      display: flex;
      justify-content: flex-start;

    }
  }
  .report-footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .buttons-block {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }
}