.step-title {
  margin-bottom: 30px;
  h4.ant-typography {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dfdfdf;
  }
  .ant-typography {
    text-align: left;

  }
}