//.ant-layout {
//    background: none;
//}
.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 200px 176px 100px 144px;
}

.subtitle.ant-typography {
  margin-bottom: 16px;
  color: #8D8D8F;
}

.description.ant-typography {
  max-width: 416px;
  margin-bottom: 32px;

}



//button.ant-btn-text {
//    border: none;
//    background: none;
//
//    &:hover {
//        border: none;
//        background-color: transparent !important;
//    }
//    &:focus {
//        border: none;
//        background-color: transparent !important;
//        outline: transparent;
//    }
//}
//button.ant-btn-primary {
//    border: 1px solid #5c5c5c;
//    background-color: #5c5c5c;
//    &:hover {
//        border: 1px solid #5c5c5c;
//        background-color: #4b4b4b !important;
//    }
//    &:focus {
//        border: none;
//        background-color:  #4b4b4b !important;
//        outline: none;
//    }
//}
