.container {
  max-width: 960px;
  height: fit-content;
  margin: 0 auto;
  padding: 200px 176px 100px 144px;
}

.subtitle.ant-typography {
  margin-bottom: 16px;
  color: #8D8D8F;
}

.description.ant-typography {
  max-width: 416px;
  margin-bottom: 32px;
}

button.ant-btn-text {
  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active {
    border-color: #ffffff;
    background: linear-gradient(0deg, rgba(27, 71, 228, 0.2), rgba(27, 71, 228, 0.2));
  }
}