@font-face {
  font-family: 'Inter Medium';
  src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1.ant-typography,
.ant-typography+h2.ant-typography {
  font-family: 'Inter SemiBold';
}

h1.ant-typography {
  margin-block-start: 0;
  margin-block-end: 24px;
}

.ant-typography+h2.ant-typography {
  margin-top: 0;
}

div.ant-typography {
  font-family: 'Inter Medium';
  font-weight: 500;
}

button.ant-btn {
  width: fit-content;
  height: fit-content;
  padding: 16px;
  border: none;
  font-family: 'Inter Medium';
  font-weight: 500;
  /*transition: border-color 0.25s;*/
}
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
