.ant-layout .ant-layout-sider.app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  padding: 200px 56px 0 64px;
  background-color: #ffffff;

  .header-content-wrapper {
    text-align: start;

    .nav-link {
      margin-bottom: 24px;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 1.5;
      font-family: "Inter Bold";
      font-weight: 700;
      letter-spacing: 0.02em;
      color: #101012;

      &:focus {
        border: none;
        outline: transparent;
      }
    }

    .header-text {
      display: block;
      max-width: 330px;
      font-weight: 500;
      color: #8d8d8f;
    }
  }

  .rights {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 31px 65px 30px 65px;

    span {
      font-family: "Inter Medium";
      font-size: 14px;
      line-height: 1.15;
      color: #8d8d8f;
    }
  }
}