.radio-option-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  .content {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;

    .check-box {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #b9b9ba;
      border-radius: 2px;
      background-color: #e7e7e9;

      .order {
        font-family: "Inter Bold";
        font-size: 12px;
        line-height: 2;
      }
    }

    .label {
      font-family: "Inter Medium";
      font-size: 16px;
      line-height: 1.5;
      color: #101012;
    }
  }

}