.ant-form-vertical {
  width: 640px;

  .ant-input-affix-wrapper {
    padding: 8px 15px 8px 16px;
    .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled),
    .ant-form-item-explain-error {
      border-color: #f6414c;

      .ant-input-prefix {
        color: #101012;
      }
    }

    .ant-input-prefix {
      font-family: "Inter Medium";
    }
  }
}

.radio-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
  grid-auto-rows: 120px;
  gap: 32px;

  .ant-radio-button-wrapper {
    border: 1px solid #b9b9ba;
    border-radius: 4px;
    height: 100%;
    padding-inline: 0;
    overflow: hidden;

    &:hover {
      border-color: #4169f6;

      .name {
        color: #4169f6;
      }
    }

    &.ant-radio-button-wrapper-checked {
      border: 2px solid #4169f6;
    }
  }

}
.radio-column-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px;
  grid-auto-rows: 40px;
  gap: 5px;

  .ant-radio-button-wrapper {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 100%;
    padding-inline: 0;
    overflow: hidden;

    .radio-option-card {
      .selected-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }

    &.ant-radio-button-wrapper-checked {
      border: 1px solid #b8b8b8;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

      .radio-option-card {
        .selected-overlay {
          opacity: 1;
        }
      }
    }
  }
}