.ant-form-vertical {
  width: 640px;

  .ant-input-affix-wrapper {
    padding: 8px 15px 8px 16px;

    &:hover,
    &.ant-input-affix-wrapper-focused {
      border-color: #4169f6;
    }

    &.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled) {
      border-color: #f6414c;

      .ant-input-prefix {
        color: #101012;
      }
    }

    .ant-input-prefix {
      font-family: "Inter Medium";
    }
  }
}

.ant-form-item {
  margin-bottom: 32px;

  .ant-form-item-explain-error {
    color: #f6414c;
  }
}

.radio-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px;
  grid-auto-rows: 120px;
  gap: 32px;

  .ant-radio-button-wrapper {
    border: 1px solid #b9b9ba;
    border-radius: 4px;
    height: 100%;
    padding-inline: 0;
    overflow: hidden;

    &:hover {
      border-color: #4169f6;

      .name {
        color: #4169f6;
      }
    }

    &.ant-radio-button-wrapper-checked {
      border: 2px solid #4169f6;
    }
  }

}
.radio-column-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .ant-radio-button-wrapper {
    border: 1px solid #b9b9ba;
    border-radius: 4px;
    height: 56px;
    padding: 16px;
    overflow: hidden;

    &:hover {
      border-color: #4169f6;

      .label {
        color: #4169f6;
      }
    }

    &.ant-radio-button-wrapper-checked {
      border: 2px solid #4169f6;
    }
  }
}

.ant-picker.ant-picker-large {
  padding: 8px 15px 8px 16px;
  line-height: 1.5;

  &:hover,
  &.ant-picker-focused {
    border-color: #4169f6;
    box-shadow: none;
  }
}